@(test: String)

@main("Welcome to Play") {
  <h1>Welcome to Play!</h1>

  <h1>@test</h1>
  <!--<button   onclick="document.location='test'">test</button>-->
  <button   id="button">test</button>

  <script
          src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous">
  </script>

  <script>
    $("#button").click(() => {
      $.post("/test", { name: "John" })
      .done(function(data) {
          alert("Data Loaded: " + data);
      })
      .fail(() => {
          alert("失敗");
      });
    })
  </script>
}
